html {

}

body {
  background-color: rgb(82, 156, 233);
}

div#tic-tac-toe {
  text-align: center;
}

div.row {
  text-align: center;
}

div.square {
  text-align: center;
  display: inline-block;
  font-size: 3rem;
  width: 8rem;
  height: 8rem;
  margin: 0;
  padding: 0;
  border: 3px solid white;
  background-color: #3e181b;
  color: #db1d2d;
}

/*.note {
  cursor: pointer;
  font-size: 3rem;
  width: 8rem;
  height: 8rem;
  margin: 0;
  padding: 0;
  border: 3px solid currentColor;
}

.note:focus { outline: none; }*/

.square { background-color: #3e181b; color: #db1d2d; }
.square:hover { background-color: #661920; }
.square:active, .square.active { background-color: #db1d2d; }

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  margin: 0 auto;
  width: 8rem;
  position: fixed;
}
